---
import Layout from '../layouts/Layout.astro';

export const prerender = true;
---

<Layout title="Portfolio - JPatino">
<div>
  <div class="hero bg-base-200 min-h-96">
    <div class="hero-content text-center">
      <div class="max-w-md">
      <h1 class="text-5xl font-bold">Hello there</h1>
      <p class="py-6">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
      <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
  <div class="container mx-auto flex flex-row w-full grid grid-cols-2 gap-4 mt-14">
    <a href="https://www.google.com" class="block">
      <div class="mockup-browser bg-base-300 border min-h-96">
        <div class="mockup-browser-toolbar">
          <div class="input">https://daisyui.com</div>
        </div>
        <div class="bg-base-200 flex justify-center px-4 py-16 min-h-96">Hello!</div>
      </div>
    </a>
    <div class="flex justify-center items-center align-middle h-96">
      <p class="text-center">Centered text</p>
    </div>
  </div>
  <div class="divider mt-14"></div>
  <div class="container mx-auto flex flex-row w-full grid grid-cols-2 gap-4 mt-14">    
    <div class="flex justify-center items-center align-middle h-96">
      <p class="text-center">Centered text</p>
    </div>
    <a href="https://www.google.com" class="block">
      <div class="mockup-browser bg-base-300 border min-h-96">
        <div class="mockup-browser-toolbar">
          <div class="input">https://daisyui.com</div>
        </div>
        <div class="bg-base-200 flex justify-center px-4 py-16 min-h-96">Hello!</div>
      </div>
    </a>
  </div>
</div>
</Layout>